*{
    text-transform: capitalize;
}
.header{
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}
.navbar{
    background-color: #f1f1f1;
    text-align: center;
    padding: .3px;
    margin: 5px;
    font-size: 13px;
}
.main{
    display: flex;

}
.contentleft{
    background-color:  #f1f1f1;
    height: 400px;
    width: 20%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;            
}
.contentright{
    background-color:  #f1f1f1;
    height: 400px;
    width: 20%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
             
}
.maincontent{
    background-color:  #f1f1f1;
    height: 400px;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
             
}
.footer{
    background-color: #f1f1f1;
    text-align: center;
    padding: 1.3px;
    margin: 5px;
}