*{
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
}
/* body{
    background-color: #f0f2f5;
} */
.navbar{
    position: sticky;
    top: 0px;
    height: 3.5rem;
    width: 100%;
    display: flex;
    background-color: #fff;
    border: 2px;
}
.navbar .navleft{
    width: 25%;
    display: flex;
    align-items: center;
}
.fa-facebook{
    width: 14px;
    height: 14px;
    padding: 11.5px;
    font-size: 33px !important;
    color: rgb(255, 255, 255);
    background-color: #0674e7;
    border-radius: 50%;
    margin-left: 10px;
    z-index: 10;
}
.search {
    
    height: 2.3rem;
    width: 14rem;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 15px;
    background-color: #f0f2f5;
    border: white;
    border-radius: 3rem;
}
.navbar .navcenter{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .navcenter i{
    padding: 40px;
    font-size: 30px !important;
}
.navbar .navright{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    
}
.navbar .navright i{
    padding: 10px;
    font-size: 30px !important;
}
.container{
    height: 1500px;
    width: 100%;
    background-color: #f0f2f5; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.container .box1{
    height: 100vh;
    width: 25%;
    /* position: fixed ; */
    position: sticky;
    top: 5rem;    
    
}
.container .box1:hover{
    overflow-y: scroll;
}
.leftside{
    height: 50px;
    width: 90%;
    margin-left: 1rem;
    padding-left: 1rem;
}
.leftside:hover{
    background-color: #e4e6e9;
    border-radius: 0.5rem;
}
.leftside a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 1rem;
}
.box2{
    width: 50%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}
.box2 .box2-h1{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.box2 .box2-h1 .status{
    height: 12rem;
    width: 7rem;
    border-radius: 0.8rem;
    background-color: #fff;
    margin: 1rem;
}
.box2 .box2-h1 .status:hover{
    cursor: pointer;

}
.box2 .box2-h1 .status .story{
    padding-top: 10.5rem;
    text-align: center;
}

.box2 .box2-h2{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.box2 .box2-h2 .search-box{
    background-color: #fff;
    height: 8rem;
    width: 43rem;
    border-radius: 0.5rem;
    
}
.box2 .box2-h2 .search-box .sb-1{
    height: 4rem;
    display: flex;
    align-items: center;
}
.box2 .box2-h2 .search-box .sb-2{
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.box2 .box2-h2 .search-box .sb-1 .image{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 10px;
}
.box2 .box2-h2 .search-box .sb-1 .image:hover{
    cursor: pointer;
}
.box2 .box2-h2 .search-box .sb-1 .sbar{
    width: 35rem;
    border: white;
    border-radius: 2.5rem;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 1rem;
    background-color: #f0f2f5;
}

.box2 .box2-h3{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.box2 .box2-h3 .room-bar{
    background-color: #fff;
    height: 70px;
    width: 43rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box2 .box2-h3 .room-bar .room:hover{
    cursor: pointer;
}
.box2 .box2-h3 .room-bar .room{
    font-size: 25px;
    border: 2px solid #b6c5d4;
    border-radius: 3rem;
    width: 10rem;
}
.box2 .box2-h3 .image{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 10px;
}
.box2 .box2-h3 .image:hover{
    cursor: pointer;
}
.box2 .box2-h4{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.box2 .box2-h4 .h4{
    width: 33rem;
    height: 25rem;
    background-color: #fff;
    border-radius: .5rem;
    padding: 5rem;

}
/* .container .box2{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.status{
    height: 11rem;
    width: 6rem;
    margin: 2rem 0rem;
    margin-left: 16px;
    border-radius: 11px;
    background-color: #fff;
}
.status .cont{
    padding-top: 9rem;
    display: flex;
    justify-content: center;
}
.searchbar{
    height: 7rem;
    width: 34rem;
    margin-top: -220px;
    border-radius: 0.5rem;
    background-color: #fff;
    margin-left: 1rem;
    display: flex;


}
.searchbar .p{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 5px;
    background-color: #f0f2f5;
}
.searchbar .sheadb{
    height: 3rem;
    width: 30rem;
    margin-top: 8px;
    padding-top: -7rem;
    background-color: #f0f2f5;
    border: white;
    border-radius: 3rem;
    align-items: center;
    font-size: 1.1rem;
    padding-left: 5px;
}
.live{
    display: inline;
    padding: 1rem;
    padding: 1rem;
}
.box2 .b-3{
    height: 5rem;
    width: 2rem;
    background-color: #000;
}
.box3{
    height: 1500px;
}
 */
